body {
  margin: auto 10px auto 10px; 
  background: #f2f2ff no-repeat;
  color: #080808;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Times New Roman", Times, serif;
  font-size: 11pt;
  background-image: linear-gradient(bottom, #e7e7f7 78%, #f2f2ff 35%);
}

applet {
  width: 800px;
  height: 500px;
}

a:link, a:visited {
  color: #e35a00;
  text-decoration: none;
  font-weight: bold;
}

a img {
  border: none;
}

.title {
  padding-top: 22px;
  font-size: 2.4em;
  width: 600px;
  float: left;
  height: 66px;
  color: #111;
  letter-spacing: 1px;
}

.title sup {
  font-size: 0.5em;
  color: #666;
  font-weight: bold;
}

.main_div {
  width: 1010px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 0px 10px;
  background: #fff;
  margin-top: 5px;
}

p {
  margin: 0px 10px;
  line-height: 22px;
  text-align: justify;
}

.codeblock {
  font-family: "American Typewriter", Courier, "Courier New", monospace;
  border: 1px dotted #f88;
  background: #fee;
  padding: 4px;
  margin: 10px 30px;
  width: 80%;
  font-size: 0.9em;
}

.nav {
	margin:0;
	padding:0;
	background: #6D7D57 /*#808259*/;
	width: 100%;
	float:left;
	border:1px solid #42432d;
	border-width:1px 0 1px 1px;
}
.nav li {
	display:inline;
	padding:0;
	margin:0;
}
.nav a:link,
.nav a:visited {
	color:#000;
	background: #ABC389 /*#b2b580*/;
	padding:10px 40px 10px 10px;
	float:left;
	width:auto;
	border-right:1px solid #42432d;
	text-decoration:none;
	font:bold 1em/1em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #666;
}
.nav a:hover {
	color:#fff;
	background: #6D7D57 /*#727454*/;
}

.nav a:active {
	background: #e35a00;
	color: #fff;
}

.navsel a,
.navsel a:link,
.navsel a:hover,
.navsel a:visited {
	background:#e35a00;
	color:#fff;
	text-shadow:none;
}

h2 {
  background: #E8ECF0;
  border: 1px solid #7088B0;
  color: #036;
  font: bold 110% Arial,Helvetica,sans-serif;
  margin: 35px 0px 10px 0px;
  padding: 3px 10px;
}


/* leaderboard related */

.leaderboard.main_div {
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 500px;
  height: 100%;
  padding-top: 7px;
}
.leaderboard h2 {
  margin-top: 15px;
}
.leaderboard .title {
  height: 41px;
  padding-top: 13px;
  text-align: center;
  float: none;
  width: 100%;
  font-weight: bold;
}
.leaderboard table {
  width: 98%;
}
.leaderboard td {
  padding: 3px 4px;
  text-align: center;
  border-bottom: 1px dotted #ddd;
}
.leaderboard tr:nth-child(even) {
  background: #fff;
}
.leaderboard tr:nth-child(odd) {
  background: #eee;
}


/* feedback (analysis) related */

.analysis.main_div {
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 500px;
  height: 100%;
  padding-top: 7px;
  padding-bottom: 10px;
}
.main_div .analysis.main_div {
  border: 2px dotted #aaa;
  border-radius: 0px;
  -moz-border-radius: 0px;
}
.analysis h2 {
  margin-top: 15px;
}
.analysis .title {
  height: 41px;
  padding-top: 3px;
  text-align: center;
  float: none;
  width: 100%;
  font-weight: bold;
}
.analysis img {
  position: relative;
  top: -2px;
}
.analysis .subtitle {
  padding-top: 5px;
  text-align: center; 
  text-transform: uppercase;
}
.analysis table {
  width: 98%;
  padding-bottom: 8px;
}
.analysis td {
  padding: 3px 4px;
  text-align: left;
  border-top: 1px dotted #ccc;
}
.analysis th {
  font-weight: normal;
  font-size: 0.8em;
  color: #777;
  padding: 0px 5px;
}
.analysis td.left_column {
  font-size: 1.2em;
  min-width: 120px;
}
.analysis td.middle_column {
  font-size: 1.2em;
  font-weight: bold;
  width: 90px;
  text-align: center;
}
.analysis .tooltip {
  border: 1px solid #000;
  position: absolute;
  padding: 10px;
  background: #fcfcfc;
  z-index: 999999;
  display: none;
}

.analysis .bar {
  height: 5px;
  background: #E35A00;
  float: left;
  margin-right: 5px;
}
.analysis .bar.top {
  background: #6D7D57;
  margin-top: 5px;
}
.analysis .label {
  font-size: 0.75em;
  color: #888;
}
.analysis .label.bottom {
  position: relative;
  top: -5px;
}


