# Backup files
*~

# Python files
*.pyc
*.pyo
build/
dist/
MANIFEST
*.egg-info/
__pycache__/

# Java files
*.class

# Ignore Javadoc output directory for client.
client/doc/
# Ignore output jar
client/pings.jar

# Ignore directories created by storage_server.
server/20??-??-??/
# Ignore dump created by Redis.
server/dump.rdb

# Don't add GeoIP data
server/Geo*.dat
# Don't commit fabric local configuration
server/fabconfig.py
