<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
 "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

 <head>
  <title>Leaderboards - The Internet Connectome project</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link href="site.css" media="all" type="text/css" rel="stylesheet">
 </head>

 <body>

<center>
<div class="main_div leaderboard">

<ul class="nav">
  <li><a href="http://iconnect.iro.umontreal.ca/index.html">Pings Project</a></li>
  <li class="navsel"><a href="">Leaderboards</a></li>
</ul>
<br /><br />

<div class="title">Leaderboards</div>

<h2>Global leaders</h2>

<center><table cellspacing="0" cellpadding="0">
{% for item in global %}
<tr><td>{{ loop.index }}</td><td>{{ item[0] }}</td><td>{{ item[1] }}</td></tr>
{% endfor %}
</table></center>

<h2>Weekly leaders</h2>

<center><table cellspacing="0" cellpadding="0">
{% for item in weekly %}
<tr><td>{{ loop.index }}</td><td>{{ item[0] }}</td><td>{{ item[1] }}</td></tr>
{% endfor %}
</table></center>

<h2>Daily leaders</h2>

<center><table cellspacing="0" cellpadding="0">
{% for item in daily %}
<tr><td>{{ loop.index }}</td><td>{{ item[0] }}</td><td>{{ item[1] }}</td></tr>
{% endfor %}
</table></center>

<p style="text-align: center; border-top: 1px dotted #aaa; margin-top: 13px; padding-top: 6px; padding-bottom: 10px;">
The Internet Connectome Project | Montréal | Québec<br />
Copyright © 2012 All rights reserved.
</p>

</div>
</center>

</body>
 
</html>

